## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Lourenco Do Oeste,BR,-26.3592,-52.8511,63.79,83,100,4.88,overcast clouds
1,1,San Vicente,AR,-26.6167,-54.1333,67.71,71,100,4.85,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,72.37,66,18,5.46,few clouds
3,3,Saint Stephen,GB,50.3333,-4.9000,67.21,59,0,5.75,clear sky
4,4,Albany,US,42.6001,-73.9662,76.73,72,89,10.27,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 60

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Bredasdorp,ZA,-34.5322,20.0403,51.87,54,100,4.74,overcast clouds
12,12,Thompson,CA,55.7435,-97.8558,53.76,76,100,20.71,overcast clouds
14,14,Punta Arenas,CL,-53.1500,-70.9167,39.31,52,20,19.57,few clouds
23,23,Pangnirtung,CA,66.1451,-65.7125,39.20,75,75,14.97,broken clouds
28,28,Husavik,IS,66.0449,-17.3389,56.77,51,74,6.51,broken clouds
40,40,Luena,AO,-11.7833,19.9167,58.96,42,6,3.62,clear sky
42,42,Hobart,AU,-42.8794,147.3294,43.27,96,46,10.36,scattered clouds
43,43,Chokurdakh,RU,70.6333,147.9167,46.38,61,99,9.53,overcast clouds
45,45,Cherskiy,RU,68.7500,161.3000,48.09,45,45,6.22,scattered clouds
47,47,Safranbolu,TR,41.2508,32.6942,59.25,86,50,2.62,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                217
City                   217
Country                215
Lat                    217
Lng                    217
Max Temp               217
Humidity               217
Cloudiness             217
Wind Speed             217
Current Description    217
dtype: int64

In [6]:
# Another way to Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Bredasdorp,ZA,-34.5322,20.0403,51.87,54,100,4.74,overcast clouds
12,12,Thompson,CA,55.7435,-97.8558,53.76,76,100,20.71,overcast clouds
14,14,Punta Arenas,CL,-53.1500,-70.9167,39.31,52,20,19.57,few clouds
23,23,Pangnirtung,CA,66.1451,-65.7125,39.20,75,75,14.97,broken clouds
28,28,Husavik,IS,66.0449,-17.3389,56.77,51,74,6.51,broken clouds
...,...,...,...,...,...,...,...,...,...,...
660,660,Kingaroy,AU,-26.5333,151.8333,46.20,67,100,4.36,overcast clouds
661,661,Cap-Aux-Meules,CA,47.3821,-61.8597,55.87,84,89,14.41,overcast clouds
663,663,Sosnovo-Ozerskoye,RU,52.5249,111.5418,58.26,64,66,3.31,broken clouds
664,664,Joensuu,FI,62.6012,29.7632,48.69,93,100,11.50,overcast clouds
668,668,Lokosovo,RU,61.1333,74.8167,55.33,88,100,15.64,light rain

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Bredasdorp,ZA,51.87,overcast clouds,-34.5322,20.0403,
12,Thompson,CA,53.76,overcast clouds,55.7435,-97.8558,
14,Punta Arenas,CL,39.31,few clouds,-53.1500,-70.9167,
23,Pangnirtung,CA,39.20,broken clouds,66.1451,-65.7125,
28,Husavik,IS,56.77,broken clouds,66.0449,-17.3389,
40,Luena,AO,58.96,clear sky,-11.7833,19.9167,
42,Hobart,AU,43.27,scattered clouds,-42.8794,147.3294,
43,Chokurdakh,RU,46.38,overcast clouds,70.6333,147.9167,
45,Cherskiy,RU,48.09,scattered clouds,68.7500,161.3000,
47,Safranbolu,TR,59.25,scattered clouds,41.2508,32.6942,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Bredasdorp,ZA,51.87,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
12,Thompson,CA,53.76,overcast clouds,55.7435,-97.8558,Burntwood Hotel
14,Punta Arenas,CL,39.31,few clouds,-53.1500,-70.9167,Hotel Hain
23,Pangnirtung,CA,39.20,broken clouds,66.1451,-65.7125,Kilabuk Lodge
28,Husavik,IS,56.77,broken clouds,66.0449,-17.3389,Bjarnabúð

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))